@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #0B0B0B; /* Hardcoded value to fix build */
    color: #A7A7A7; /* Hardcoded value to fix build */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF; /* Hardcoded value to fix build */
  }
}
